body{
    
    background-color: #343A40;
    /*background-image: url("./../images/Binary-Technology-Wallpaper-Blue-Background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;            

}

header{
    height: 100vh;
}

.business_card{
    height: 100%;
    background-image: url("./../images/cprogrammingw1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    display:flex;
}

.business_card--inner{
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 25vh;
}

.photo{
    max-height: 50vh; 
    border-radius: 50%;
}



