.projects{
    background-color:#343A40;
    text-align: center;
    color:white;
}
.projects_box{
    justify-content: center;
    padding:5vh 5vh 0 5vh ;
}

.projects_box--icons{
    padding-top:5vh
}

.skills-box{
    justify-content: center;
    padding:50px;
}

.skills_box--icon{
    padding-top:15px
}



