.projects{
    background-color:#343A40;
    text-align: center;
    color:white;
}
.projects_box{
    justify-content: center;
    padding:50px;
}

.projects_box--icons{
    padding-top:5vh
}

.separator{
    background-color: red;
    text-align: center;
    padding-top: 100px !important;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    
}



.skills-box{
    justify-content: center;
    padding:50px;
}

.skills_box--icon{
    padding-top:15px
}



