.skills {
    background-image: url(./../images/code-wallpaper-4.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
  
}

.skills--title{
    color: white;
    text-align: center;
    font-size: 10vw;
    font-family: 'Press Start 2P', cursive;
    padding-top: 4vh; 
    padding-bottom: 0;
}

.skills-box{
    justify-content: center;
}

.skills_box--icon{
    padding: 15px;
    padding-top: 15px;
    justify-content: center;
        
}





