.skills {
    background-image: url(./../images/code-wallpaper-4.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 0;
}

.skills--title{
    color: white;
    text-align: center;
    font-size: 10vw;
    font-family: 'Press Start 2P', cursive;
    padding: 4vh 0 0 0; 
   
}

.skills-box{
    justify-content: center;
    padding:50px;
}

.skills_box--icon{
    padding-top:15px
}







