* {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;

}

.container {
    width: 1000px;
    margin: auto
}

header {
    height: 300px;
    text-align: center;
    background-color: darkred;
}

img {
    height: 300px;
    width: 350px;
    border-radius: 50%;
    float: left;
    background-color: darkred;
}

.info {
    float: left;
    background-color: darkred;
    height: 300px;
    width: 650px;
    text-align: center;

}

h1, h3 {
    background-color: darkred;
    margin: 60px auto;

}

main {

    height: 500px;
    background-color: antiquewhite;

}

article {
    float: left;
    width: 778px;
    height: 458px;
    background-color: darkblue;
    border: solid yellow 1px;
    padding: 20px 20px;
    text-align: center;

}

button {
    margin-left: 100px;
    margin-right: 100px;
}

.content {
    height: 456px;
    width: 500px;
    background-color: darkred;
    color: black;
    background-size: cover;
    float: left

}

.form {
    height: 456px;
    width: 274px;
    text-align: center;
    background-color: yellow;
    color: red;
    float: left;
}

form {
    background-color: yellow;
}

.input {
    text-align: center;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    color: darkred;
}

.input--mail, .input--name {
    width: 200px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

.input--text {
    text-align: left;
    width: 200px;
    height: 263px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
}

aside {
    float: left;
    width: 180px;
    height: 500px;
    background-color: yellow;
    text-align: center;
}

p {
    color: darkred;
    background-color: yellow;
    margin: 0;
}

ul, li {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    background-color: yellow;
}

a {
    background-color: yellow;
    color: darkred;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

footer {
    clear: both;
    text-align: center;
}

