* {

    color: white;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("img/7123.jpg");
}

.container {

    margin: auto;

}

header {
    height: auto;
    text-align: center;
    background-color: darkred;
}

.img {
    background-image: url("http://infoshareacademy.com/images/infoshare_og.png");
    background-repeat:no-repeat;
    background-size: cover;


}

.info {
    float: left;
    background-color: darkred;
    height: auto;
    width: auto;
    text-align: center;

}

h1, h3 {
    background-color: darkred;
    margin:  auto;

}

    /*MAIN*/
.experiance{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width:100%;
    margin: 10px ;
    padding: 5px;
}
h4{
    text-align: center;
    background-color: #333333;
    padding: 20px;
}
.content {
    height: auto;
    width: 100%;
    background-color: darkred;
    color: black;
    background-size: cover;


}

.tech{
    width: 100%;
    padding: 20px;
}

.exp{
    display: flex;
    align-items: inherit;
    justify-content: space-around;
    flex-direction: row;

    margin: 10px  ;
}
.logo{
    width:100px;
}
.technology{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;


}

    /*ASIDE*/

aside {
    width: 100%;
    height: auto;
    background-color: #666666;
    text-align: center;
}

p {
    color: darkred;
    background-color: #666666;
    margin: 0;
    text-align: center;
    padding: 20px;
}

ul, li {
    list-style-type: none;
    text-align: center;
    padding: 20px;
    background-color: #666666;
}

a {
    background-color: #333333;
    color: darkred;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: red;
}

    /*FORM*/
.inputHolder{
    float:left;
}
.text{
    float:right
}
.form {
    height: auto;
    width: auto;
    text-align: center;
    background-color: #666666;
    color: red;

}


.input {
    text-align: center;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    color: darkred;
}

.input--mail, .input--name {
    width: auto;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;

}

.input--text {
    text-align: left;
    width: auto;
    max-height: 150px;
    max-width: 50%;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;


}


    /*SOCIALS*/

.social {
    display: flex;
    justify-content: space-around;background-color: #666666;


}

.icon-facebook:hover {
    background-color: #4668b3;
}

.icon-gplus:hover {
    background-color: #DD4B3E;
}

.icon-twitter:hover {
    background-color: #139FF2;
}

.icon-instagram-1:hover {
    background-color: #D02E91;
}

.icon-youtube:hover {
    background-color: #E62117;
}


footer {
    text-align: center;
    background-color: #666666;
    margin:0px;
    padding: 5px;

}

footer p{
    padding:0px;
}


    /*RWD*/

[class*="col-"] {
    float: left;
    padding: 15px;

}

.col-1 {  width: 8.33%;  }
.col-2 {  width: 16.66%;  }
.col-3 {  width: 25%;  }
.col-4 {  width: 33.33%;  }
.col-5 {  width: 41.66%;  }
.col-6 {  width: 50%;  }
.col-7 {  width: 58.33%;  }
.col-8 {  width: 66.66%;  }
.col-9 {  width: 75%;  }
.col-10 {  width: 83.33%;  }
.col-11 {  width: 91.66%;  }
.col-12 {  width: 100%;  }

    /*MEDIA*/

@media only screen and (max-width: 768px){
    .tech{

        padding: 0px;
    }
    p {
        color: darkred;
        background-color: #666666;
        margin: 0;
        text-align: center;
        padding: 0px;
        font-size: 14px;
    }


}

@media only screen and (min-width: 768px){

    .container{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 992px){
    .container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .content{
        float:left;
        width:70%;
    }
    .projects{
        float:right;
        width:30%;
    }
}

@media only screen and (min-width: 1200px){

    .container{
        margin-left: 15%;
        margin-right: 15%;
    }

    .content{
        float:left;
        width:70%;
    }
    .projects{
        float:right;
        width:30%;
    }
}